* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'General Sans', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--charcoal);
  color: var(--accent);
  line-height: 1.6;
  font-size: 16px;
}

body.no-scroll {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body.menu-open {
  overflow: hidden;
  background-color: var(--softnoir);
}

main {
  flex: 1;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  background-color: var(--charcoal);
  color: var(--accent);
}

.full-width.bg-dark {
  background-color: var(--charcoal);
  color: var(--accent);
}
